absl-py==0.13.0
aiohttp==3.7.4.post0
appdirs==1.4.4
asgiref==3.4.1
astunparse==1.6.3
async-timeout==3.0.1
attrs==21.2.0
beautifulsoup4==4.6.0
cached-property==1.5.2
cachetools==4.2.2
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.5
clang==5.0
click==8.0.1
clikit==0.6.2
cmdstanpy==0.9.68
colorama==0.4.4
convertdate==2.3.2
crashtest==0.3.1
cycler==0.10.0
Cython==0.29.24
dill==0.3.4
Django==3.2.7
ephem==4.0.0.2
fbprophet==0.7.1
finance-datareader==0.9.31
flatbuffers==1.12
gast==0.4.0
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.40.0
h5py==3.1.0
hijri-converter==2.2.1
holidays==0.11.2
httpstan==4.5.0
idna==3.2
importlib-metadata==4.8.1
joblib==1.0.1
JPype1==1.3.0
keras @ file:///home/conda/feedstock_root/build_artifacts/keras_1630699849487/work/keras-2.6.0-py2.py3-none-any.whl
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
konlpy==0.5.2
korean-lunar-calendar==0.2.1
LunarCalendar==0.0.9
lxml==4.6.3
lz4==3.1.3
Markdown==3.3.4
marshmallow==3.13.0
matplotlib==3.4.3
mkl-fft==1.3.0
mkl-random @ file:///opt/concourse/worker/volumes/live/133f1d0b-8fd8-4fa0-679e-7214401cbd75/volume/mkl_random_1626186083386/work
mkl-service==2.4.0
multidict==5.1.0
mysqlclient @ file:///opt/concourse/worker/volumes/live/a00baea8-7042-4e61-5922-65c2a6fb6552/volume/mysqlclient_1609786256659/work
nltk==3.6.2
numpy @ file:///opt/concourse/worker/volumes/live/660b80d1-747e-493a-6b34-55d0a0e21650/volume/numpy_and_numpy_base_1626271790683/work
oauthlib==3.1.1
opt-einsum==3.3.0
pandas==1.3.3
pastel==0.2.1
Pillow==8.3.2
plotly==5.3.1
prophet==1.0.1
protobuf==3.18.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pylev==1.4.0
PyMeeus==0.5.11
pyparsing==2.4.7
pysimdjson==3.2.0
PySocks==1.7.1
pystan==2.19.1.1
python-dateutil==2.8.2
pytz==2021.1
regex==2021.8.28
requests==2.26.0
requests-file==1.5.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-learn==0.24.2
scipy==1.7.1
setuptools-git==1.2
six @ file:///tmp/build/80754af9/six_1623709665295/work
sklearn==0.0
sqlparse==0.4.2
tenacity==8.0.1
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.0
tensorflow-estimator==2.6.0
termcolor==1.1.0
threadpoolctl==2.2.0
tqdm==4.62.2
tweepy==3.10.0
typing-extensions==3.7.4.3
ujson==4.1.0
urllib3==1.26.6
webargs==7.0.1
Werkzeug==2.0.1
wrapt==1.12.1
yarl==1.6.3
zipp==3.5.0
